.flip-card {
    background-color: transparent;
    width: 350px;
    max-width: 100%;
    height: 400px;
    perspective: 1000px;
    padding: 2%; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #c7c7c7;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -9px -1px 30px gray;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: gray;
    text-justify: relative;
    color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -9px -1px 30px gray;
    transform: rotateY(180deg);
  }  
  
  .linkdiv{
    color:white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .btao{
    /*background-color: rgb(155, 151, 151);*/
    background-color: #212529;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 60%;
    width: 166px;
  }
  .margem{
    padding: 1.3%;

  }
  .hvr{
    text-decoration: none;
    color: white;
  }
  .hvr:hover{
    color: rgb(153, 153, 153);
  }
  strong:hover{
    color: rgb(153, 153, 153);
  }
  @font-face{
    font-family: "Applefont";
    src: url("image/MYRIADPRO-REGULAR.otf")
}
body{
  font-family: Applefont;
}